# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment files
.env

# OS files
.DS_Store

# IDE files
__pycache__/
*.pyc
.pytest_cache/
*.env/

OCR_test/test_images
output/
credentials/

instance/